/* ==========================================================================
   FLOATING ANIMATION
   ========================================================================== */

@keyframes float-animation {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  25% {
    transform: translateY(-20px) translateX(15px);
  }
  50% {
    transform: translateY(-40px) translateX(0px);
  }
  75% {
    transform: translateY(-20px) translateX(-15px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.floating-image {
  position: fixed;
  width: 200px;
  height: 200px;
  animation: float-animation 4s ease-in-out infinite;
  pointer-events: none;
  z-index: 5;
  
  &--top-left {
    top: 10%;
    left: 5%;
    animation-delay: 0s;
  }
  
  &--bottom-right {
    bottom: 10%;
    right: 5%;
    animation-delay: 1s;
  }
  
  &--top-right {
    top: 20%;
    right: 5%;
    animation-delay: 2s;
  }
  
  &--bottom-left {
    bottom: 20%;
    left: 5%;
    animation-delay: 1.5s;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .floating-image {
    width: 120px;
    height: 120px;
    
    &--top-left {
      top: 5%;
      left: 2%;
    }
    
    &--bottom-right {
      bottom: 5%;
      right: 2%;
    }
  }
}
